@import url("https://fonts.googleapis.com/css?family=Nunito|Cutive+Mono");

$color-pink: #faa7ed;
$color-navy: #0c1f72;
$color-navy-opaque: rgba(6, 0, 79, 0.77);
$color-light: #ffffff;
$color-dark: #252525;
$animation-duration: 350ms;

.container {
  height: 100%;
  width: 100%;
  position: relative;
  cursor: pointer;

  &:hover {
    img {
      filter: unset;
      -webkit-filter: unset;
      -moz-filter: unset;
    }

    .footer {
      .footerIcon {
        display: unset;
      }
    }
  }

  img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    filter: sepia(100%) hue-rotate(270deg);
    -webkit-filter: sepia(100%) hue-rotate(270deg);
    -moz-filter: sepia(100%) hue-rotate(270deg);
    transition: $animation-duration;
  }

  .footer {
    height: 10%;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: $color-navy-opaque;
    display: grid;
    grid-template-columns: auto 64px;

    .footerContent {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: $color-light;
      padding: 0 0 0 1rem;

      .name {
        font-size: 1.25rem;
        font-weight: bold;
        margin-bottom: 0.15rem;
        font-family: "Cutive Mono";
      }

      .designation {
        font-size: 1rem;
        font-family: "Cutive Mono";
      }
    }

    .footerIcon {
      display: none;
      height: 100%;
      width: 64px;
      background: url("./assets/svg/caret.svg");
      background-position: center;
      background-size: 60%;
      background-repeat: no-repeat;
      animation: slide $animation-duration;
    }
  }
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(-12px);
  }

  100% {
    opacity: 100;
    transform: translateX(0);
  }
}
